* {
    padding: 0;
    margin: 0;
}

body {

font-family: Arial, sans-serif;

color: #333;

background-color: blueviolet;

margin: 0;

padding: 0;

line-height: 1.6;

}

header {

color: white;

padding: 20px;

text-align: center;

}


header h1 {

margin: 0;

}

.navbar-logo {
    text-decoration: none;
    font-size: xx-large;
    margin-left: 20px;

}

.navbar-logo:hover {
    transform: scale(1.1);
    margin-left: 10%;
    background-color: blueviolet;
border: 2px solid white;
border-radius: 100vh;
}


nav a {

color: white;

text-decoration: none;

margin-left: 100px;

padding-right: 5px;
}

nav a:hover {

text-decoration: none;
background-color: blueviolet;
border: 2px solid white;
border-radius: 100vh;

}

main {

padding-left: 22px;
padding-right: 10px;


margin: 0 auto;

}


main img {

max-width: 100%;

height: auto;

display: block;

margin: 20px 0;
}

.two-column {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.image-gallery {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
   background-color: blueviolet;
    border: 2px solid black;
    border-radius: 100px;
}

.image-gallery img {
    width: 200px;
    height: 300px;
    margin-left: 40px;
}

.image-gallery img:hover {
    transform: scale(1.1);
}

.contact-btn {
    display: grid;
    grid-column-start: 1;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    border-radius: 100vh;
    justify-content: center;
    background-color: black;
}


footer {

background-color: #333;

color: white;

text-align: center;

padding: 10px;

position: fixed;

bottom: 0;

width: 100%;

}

p {

font-size: 1.1em;

}


a {

color: #4CAF50;

text-decoration: none;

}


a:hover {

text-decoration: underline;

}

img {

border: 5px solid #4CAF50;

border-radius: 10vh;

}

main a[href^="mailto:"] {

color: #ff5722;

font-weight: bold;

}

.intro {
    border-bottom: 2px solid black;
}